



  <div class="row">
 
    <div class="large-12 columns" role="content">
 
      <article>
              <% @posts.each do |post| %>
       
              <h3><%= link_to post.title, post_path(post) %></h3>
              <h6>Written by <%= link_to post.user.name, user_path(post.user) %> on <%= post.created_at.strftime("%m/%d/%Y") %></h6>
       
                <p><%= truncate (post.content), length: 400, omission: (link_to '... (continued)', post_path(post)), escape: false %></p>
       
            </article>
 
      <hr />

        <% end %>
       <%= paginate @posts %>
    </div>
 